@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,600;0,700;0,900;1,400;1,900&family=Noto+Sans+JP:wght@100&display=swap');
* {
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

body {
    background-image: url(/img/bg-preto-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 960px;
    margin: 50px auto;
}

h1{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

h2 {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.429);
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.214);
}

/* MAIN */

.midias-sociais {
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10%;
}

.midias-sociais img {
    width: 30px;
}

.itens-midias {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin: 5px;
    padding: 5px;

}

.itens-midias a{
    text-decoration: none;
}

.itens-midias h3 {
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    color: white;
}

/* CURRICULO */

.secao {
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item img{
    height: 150px;
}

/* CERTIFICAÇÕES */

.certificacao {
    width: 960px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}

.conjunto {
    display: flex;
    flex-direction: row;
}

/* RODAPÉ */

footer {
    text-align: center;
    background-color: rgba(70, 70, 70, 0.429);
    font-size: 15px;
    max-width: auto;
}

footer a, footer a:hover {
    text-decoration: none;
    color: white;
}

/* RESPONSIVIDADE 320px até 376px*/
@media (min-width: 320px) and (max-width: 376px){

    .flex-container {
        align-items: center;
    }

    .midias-sociais{
        margin: 0 auto;
        width: 60%;
        justify-content: space-around;

    }

    .midias-sociais .itens-midias a h3 {
        display: none;
    }

    .secao {
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .item {
        width: 100%;
    }

    .item img {
        height: 87px;
    }

    .certificacao{
        width: 100%;
    }

    .conjunto {
        flex-direction: column;
    }

}

 /*RESPONSIVIDADE 376px até 426px */
@media (min-width: 376px) and (max-width: 426px){

    .flex-container {
        align-items: center;
    }

    .midias-sociais{
        margin: 0 auto;
        width: 100%;
        justify-content: space-around;

    }

    .secao {
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .item {
        width: 100%;
    }

    .item img {
        height: 119px;
    }

    .certificacao{
        width: 100%;
    }

    .conjunto {
        flex-direction: column;
    }

}

 /*RESPONSIVIDADE 426px até 769px */
@media (min-width: 426px) and (max-width: 769px){

    body {
        width: 100%;
    }

    .flex-container {
        align-items: center;
    }

    .midias-sociais{
        margin: 0 auto;
        width: 100%;
        justify-content: space-around;

    }

    .secao {
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .item {
        width: 100%;
    }

    .certificacao{
        width: 100%;
    }

    .conjunto {
        flex-direction: column;
    }

}